{% extends "securityBase.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
        <h1>{% trans %}Select a Sprint for{% endtrans %} "{{ activeBoard.getTitle() }}"</h1>
        </br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-filter"></i>
                {% trans %}Filter{% endtrans %}
            </span>
            <input id="filter" type="text" class="form-control" placeholder="{% trans %}Type here...{% endtrans %}">
        </div>
        </br>
        <table class="table table-hover table-striped jiraTable">
            <thead>
                <tr>
                    <th>{% trans %}Sprint{% endtrans %}</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for sprint in sprints %}
                    <tr>
                        <td><a class="{{sprint.getState()}}" href="{{path('presentation', {'boardId': activeBoard.getId(), 'sprintId': sprint.getId()})}}">{{sprint.getTitle()}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('boards') }}"><i class="fa fa-backward"></i> {% trans %}Go back{% endtrans %}</a>
{% endblock %}

{% block footer %}

{% endblock %}