{% extends "securityBase.html.twig" %}

{% block content %}
    <h1>Customfields</h1>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Testinstructions</th>
                <th>Storypoints</th>
                <th>Storypointsestimated</th>
                <th>Storyowner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customfield in customfields %}
            <tr>
                <td>{{ customfield.testInstructions }}</td>
                <td>{{ customfield.storyPoints }}</td>
                <td>{{ customfield.storyPointsEstimated }}</td>
                <td>{{ customfield.storyOwner }}</td>
                <td>
                    <a href="{{ path('admin_customfield_edit', { 'id': customfield.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
