{% extends "securityBase.html.twig" %}
{% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Customfield</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customfield.id }}</td>
            </tr>
            <tr>
                <th>Testinstructions</th>
                <td>{{ customfield.testInstructions }}</td>
            </tr>
            <tr>
                <th>Storypoints</th>
                <td>{{ customfield.storyPoints }}</td>
            </tr>
            <tr>
                <th>Storypointsestimated</th>
                <td>{{ customfield.storyPointsEstimated }}</td>
            </tr>
            <tr>
                <th>Storyowner</th>
                <td>{{ customfield.storyOwner }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_customfield_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_customfield_edit', { 'id': customfield.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
